<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <font size="6"><b>1º CHURRASCO ESTADUAL DA ALUMNI - ADAE-PR</b></font>
		  </br>
		  <font size="6"><b>22 de maio de 2024 - Cascavel - PR</b></font>
          <hr class="star-light" />
          <span class="skills">Organizado pelo Colégio Alumni Arautos do Oeste Nº 10 e apoiado pela ADAE-PR</span>
        </div>
      </div>
    </div>
  </div>
</header>
